---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lilwillifo/followers?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1525975678'
      Etag:
      - W/"362fff7ce8f18bdfbe15b1af9d4307ca"
      X-Oauth-Scopes:
      - read:public_key, read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"YayFiber","id":33355716,"avatar_url":"https://avatars2.githubusercontent.com/u/33355716?v=4","gravatar_id":"","url":"https://api.github.com/users/YayFiber","html_url":"https://github.com/YayFiber","followers_url":"https://api.github.com/users/YayFiber/followers","following_url":"https://api.github.com/users/YayFiber/following{/other_user}","gists_url":"https://api.github.com/users/YayFiber/gists{/gist_id}","starred_url":"https://api.github.com/users/YayFiber/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YayFiber/subscriptions","organizations_url":"https://api.github.com/users/YayFiber/orgs","repos_url":"https://api.github.com/users/YayFiber/repos","events_url":"https://api.github.com/users/YayFiber/events{/privacy}","received_events_url":"https://api.github.com/users/YayFiber/received_events","type":"User","site_admin":false},{"login":"alexcutschall","id":26206747,"avatar_url":"https://avatars2.githubusercontent.com/u/26206747?v=4","gravatar_id":"","url":"https://api.github.com/users/alexcutschall","html_url":"https://github.com/alexcutschall","followers_url":"https://api.github.com/users/alexcutschall/followers","following_url":"https://api.github.com/users/alexcutschall/following{/other_user}","gists_url":"https://api.github.com/users/alexcutschall/gists{/gist_id}","starred_url":"https://api.github.com/users[...]
[...]
