---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lilwillifo/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1525971774'
      Etag:
      - W/"c7b256da9088cba553b63a08b96cb7de"
      X-Oauth-Scopes:
      - read:public_key, read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":127540547,"name":"2win_playlist","full_name":"lilwillifo/2win_playlist","owner":{"login":"lilwillifo","id":33872479,"avatar_url":"https://avatars3.githubusercontent.com/u/33872479?v=4","gravatar_id":"","url":"https://api.github.com/users/lilwillifo","html_url":"https://github.com/lilwillifo","followers_url":"https://api.github.com/users/lilwillifo/followers","following_url":"https://api.github.com/users/lilwillifo/following{/other_user}","gists_url":"https://api.github.com/users/lilwillifo/gists{/gist_id}","starred_url":"https://api.github.com/users/lilwillifo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lilwillifo/subscriptions","organizations_url":"https://api.github.com/users/lilwillifo/orgs","repos_url":"https://api.github.com/users/lilwillifo/repos","events_url":"https://api.github.com/users/lilwillifo/events{/privacy}","received_events_url":"https://api.github.com/users/lilwillifo/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lilwillifo/2win_playlist","description":null,"fork":true,"url":"https://api.github.com/repos/lilwillifo/2win_playlist","forks_url":"https://api.github.com/repos/lilwillifo/2win_playlist/forks","keys_url":"https://api.github.com/repos/lilwillifo/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lilwillifo/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lilwillifo/2win_playlist/teams","hooks_url":"https://api.github.com/repos/lilwillifo/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/lilwillifo/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/lilwillifo/2win_playlist/events","assignees_url":"https://api.github.com/repos/lilwillifo/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/lilwillifo/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/lilwillifo/2win_playlist/tags","blobs_url":"https://api.github.com/repos/lilwillifo/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lilwillifo/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lilwillifo/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/lilwillifo/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lilwillifo/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/lilwillifo/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/lilwillifo/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/lilwillifo/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/lilwillifo/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/lilwillifo/2win_playlist/subscription","commits_url":"https://api.github.com/repos/lilwillifo/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/lilwillifo/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/lilwillifo/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/lilwillifo/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/lilwillifo/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/lilwillifo/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lilwillifo/2win_playlist/merges","archive_url":"https://api.github.com/repos/lilwillifo/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lilwillifo/2win_playlist/downloads","issues_url":"https://api.github.com/repos/lilwillifo/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/lilwillifo/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/lilwillifo/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/lilwillifo/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lilwillifo/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/lilwillifo/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/lilwillifo/2win_playlist/deployments","created_at":"2018-03-31T14:42:55Z","updated_at":"2018-03-31T15:40:29Z","pushed_at":"2018-03-31T15:40:27Z","git_url":"git://github.com/lilwillifo/2win_playlist.git","ssh_url":"git@github.com:lilwillifo/2win_playlist.git","clone_url":"https://github.com/lilwillifo/2win_playlist.git","svn_url":"https://github.com/lilwillifo/2win_playlist","homepage":null,"size":33,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":124949728,"name":"activerecord_exploration","full_name":"lilwillifo/activerecord_exploration","owner":{"login":"lilwillifo","id":33872479,"avatar_url":"https://avatars3.githubusercontent.com/u/33872479?v=4","gravatar_id":"","url":"https://api.github.com/users/lilwillifo","html_url":"https://github.com/lilwillifo","followers_url":"https://api.github.com/users/lilwillifo/followers","following_url":"https://api.github.com/users/lilwillifo/following{/other_user}","gists_url":"https://ap[...]
[...]
